{% extends "base.html" %}

{% block title %}Home | Portfolio{% endblock %}

{% block content %}

<div class="home-wrapper">

    <div class="hero fade-in">
        <h1>Hi, I'm <span class="highlight">Akhilesh</span></h1>
        <p class="subtitle">Python Developer | Backend Enthusiast</p>

        <a href="#contact" class="btn-primary">Get in Touch</a>
    </div>

    <div class="container section" id="contact">

        <div class="contact-card slide-up">
            <h2 class="section-title">Contact Me</h2>

            <p><b>Email:</b> ap0845546@gmail.com</p>
            <p><b>Phone:</b> +91 8903459233</p>

            <p><b>LinkedIn:</b>
                <a href="https://www.linkedin.com/in/akhilesh012/" target="_blank">
                    linkedin.com/in/akhilesh012
                </a>
            </p>

            <p><b>GitHub:</b>
                <a href="https://github.com/Akhileshp2003" target="_blank">
                    github.com/Akhileshp2003
                </a>
            </p>
        </div>

    </div>

</div>

{% endblock %}
